@model Comisiones.Models.CO_tb_Productos_Reembolso


@{
	ViewBag.Title = "Consultas";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 jumbotron" style="color:#000000; font:caption; background-color:azure;">
	@Html.AntiForgeryToken()
	<h2>Consultar Compañias de Pago</h2>
	<div>
		<h4>Informacion de los Productos del Reembolso</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.warehouse)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.warehouse)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Id_Empresa)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Id_Empresa)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Warehouse_ID)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Warehouse_ID)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.cve_art)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.cve_art)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Descripcion)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Descripcion)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.DescripcionCorta)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.DescripcionCorta)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.PrecioPublico)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.PrecioPublico)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.PrecioMinimo)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.PrecioMinimo)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.PrecioCosto)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.PrecioCosto)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.PrecioSocio)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.PrecioSocio)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.ActivoSAE)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ActivoSAE)
			</dd>

		</dl>
</div>
<p>
	@*@Html.ActionLink("Modificar", "Edit", "Productos_Reembolso", null, new { @class = "btn btn-default btn-lg", @style = "display:inline", id = Model.sku })*@ 
	@Html.ActionLink("Regresar", "Index", "Productos_Reembolso", null, new { @class = "btn btn-default btn-lg", @style = "display:inline" })
</p>

	</div>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
