@model IList<Comisiones.Models.CO_st_BuscaProductosConUnId1_Result>

@{ ViewBag.Title = "Alta de Reembolsos";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<script type="text/javascript" class="init">

</script>


<head>
	<link rel="stylesheet" href="~/Content/estilos.css" />
</head>

<body>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")

	<main>
		<div class="maintitle">Lista de reembolsos pendientes</div>
		<div class="container-fluid" id="divMainContainer" style="align-content:center">
			<form id="myform" class="form-inline">

				@using (Html.BeginForm())
				{
					@Html.AntiForgeryToken()

					<div class="form-horizontal">
						@*<h4>CO_tb_Premios</h4>*@
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							<div class="col-md-2" style="text-align-last:right">
								<div>
									<label>Pais</label>
								</div>
							</div>

							<div class="col-md-8">
								@Html.DropDownList("id_pais", (IEnumerable<SelectListItem>)ViewBag.dropdownPaises, "Selecciona un Pais?", new { @id = "IdPais", @class = "form-control", @disabled = "disabled" })
							</div>

							<div class="col-md-2" style="text-align-last:left">
								@*<input type="submit" value="Valida Pais" class="btn btn-danger btn-lg" />*@
							</div>
						</div>

						<br />
						<div class="form-group">
							<div class="col-md-2" style="text-align-last:right">
								<div>
									<label>Anio</label>
								</div>
							</div>
							<div class="col-md-10">
								@Html.DropDownList("Anio", (IEnumerable<SelectListItem>)ViewBag.dropdownAnio, "Seleccione el Año", new { id = "TmpAnio", @class = "form-control", @disabled = "disabled" })
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-md-2" style="text-align-last:right">
								<div>
									<label>Mes</label>
								</div>
							</div>
							<div class="col-md-10">
								@Html.DropDownList("Mes", (IEnumerable<SelectListItem>)ViewBag.dropdownMes, "Seleccione el Mes", new { id = "TmpMes", @class = "form-control", @disabled = "disabled" })
							</div>
						</div>


						<br />


						<div class="form-group">
							<div class="col-md-2" style="text-align-last:right">
								<div>
									<label>Cantidad</label>
								</div>
							</div>

							<div class="col-md-10">
								<input maxlength="800" class="form-control" id="Cantidad" name="Cantidad" value=@ViewBag.Cantidad style="width:800px;height:30px;" tabindex="1" type="number" readonly="true">
							</div>
						</div>

						<br />
						<div class="form-group">
							<div class="col-md-2" style="text-align-last:right">
								<div>
									<label>Cantidad Topada</label>
								</div>
							</div>

							<div class="col-md-10">
								<input maxlength="800" class="form-control" id="CantTopada" name="CantTopada" value=@ViewBag.CantTopada style="width:800px;height:30px;" tabindex="1" type="number" readonly="true">
							</div>
						</div>

						<br />

						<div class="form-group">
							<div class="col-md-2" style="text-align-last:right">
								<div>
									<label>Porcentaje</label>
								</div>
							</div>

							<div class="col-md-10">
								<input maxlength="800" class="form-control" id="Porcentaje" name="Porcentaje" value=@ViewBag.Porcentaje style="width:800px;height:30px;" tabindex="1" type="number" readonly="true">
							</div>
						</div>


					</div>
				}
			</form>

			<br />
			<br />
			@using (Html.BeginForm("Delete", "CO_tb_ConfigReembolsos", "POST"))
			{
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input data-ajax="true" value="Ver Productos" id="MuestraProd" class="btn btn-danger btn-lg" href="#myModal" name="MuestraProd" data-toggle="modal" />

						<input type="submit" value="Borrar" class="btn btn-danger btn-lg" />
						
						<a href="~/CO_tb_ConfigReembolsos/" class="btn btn-danger btn-lg">Regresar</a>
					</div>
				</div>
			}

				<!-- Modal -->
				<div id="myModal" class="modal face" style="align-content:center">
					<div class="modal-body" role="document">
						<div class="modal-content">
							<div class="modal-body form-horizontal">
								@using (Html.BeginForm("Delete", "CO_tb_ConfigReembolsos", "POST"))
								{
									<table class="table table-striped modal-content theader w-auto" id="TblPremios">

										<tr style="background-color:#D6EAF8;width:100%">
											<th>Pais</th>
											<th>Año</th>
											<th>Mes</th>
											<th>Cantidad</th>
											<th>Cantidad Topada</th>
											<th>Porcentaje</th>
										</tr>

										<tr class="tablaPremios"></tr>
									</table>
									<table class="table display" style="background-color:#D6EAF8" id="TblProductos">
										<thead style="background-color:#D6EAF8">
											<tr>
												<th style="text-align:center">
													<label>Clave</label>
												</th>
												<th style="width:300px;" type="text" maxlength="300">
													<label>Nombre Producto</label>
												</th>
												<th>
													<label>Precio</label>
												</th>
												<th>
													@*<label>Seleccionar</label>*@
												</th>
												<th>
													@*<label></label>*@
												</th>
												<th>
												</th>
												<th>
												</th>

											</tr>
										</thead>
										<tbody>

											@for (var i = 0; i < Model.Count; i++)
											{
												<tr id="row+@i" oninput="test(this)">

													@Html.HiddenFor(x => x[i].PrecioPublico, new { @class = "form-control  TmpVentas", @id = "Precio" + @i })
													@Html.HiddenFor(x => x[i].sku, new { @class = "form-control TmpSku" })
													@Html.HiddenFor(x => x[i].Descripcion, new { @class = "form-control", @style = "align-items:right", @disabled = "disabled" })
													@*@Html.HiddenFor(x => x[i].SubTotal, new { @class = "form-control Monto", @style = "align-items:right", @disabled = "disabled" })*@

													@Html.HiddenFor(x => x[i].Warehouse_ID, new { @class = "form-control" })
													@* @Html.HiddenFor(x => x[i].Warehouse, new { @class = "form-control" })*@
													@Html.HiddenFor(x => x[i].cve_art, new { @class = "form-control" })
													@Html.HiddenFor(x => x[i].Anio, new { @class = "form-control TmpAnio" })
													@Html.HiddenFor(x => x[i].Mes, new { @class = "form-control TmpMes" })

													<td style="text-align:center">
														@Html.DisplayFor(x => x[i].sku, new { @class = "form-control" })
													</td>



													<td style="width:300px;" type="text" maxlength="300">
														@Html.DisplayFor(x => x[i].Descripcion, new { @class = "form-control", @style = "align-items:right", @disabled = "disabled" })
													</td>
													<td>

														@Html.DisplayFor(x => x[i].PrecioPublico, new { @class = "form-control VaPrecio" + @i, @style = "align-items:right", @disabled = "disabled" })
													</td>
													<td>
														@*@Html.CheckBoxFor(x => x[i].checkeado, new { @class = "form-control", @style = "align-items:left" })*@
													</td>
													<td>
														@Html.HiddenFor(x => x[i].Id_Empresa, new { @class = "form-control  IdEmpresa" })
													</td>
													<td>
														@Html.HiddenFor(x => x[i].Id_Pais, new { @class = "form-control  TmpPais" })
													</td>
													<td>
														@Html.HiddenFor(x => x[i].Id_Periodo, new { @class = "form-control  TmpPeriodo" })
													</td>
													<td>
														@Html.HiddenFor(x => x[i].Cantidad, new { @class = "form-control  TmpCantidad" })
													</td>
													<td>
														@Html.HiddenFor(x => x[i].Topada, new { @class = "form-control  TmpTopada" })
													</td>
													<td>
														@Html.HiddenFor(x => x[i].Porcentaje, new { @class = "form-control  TmpPorcentaje" })
													</td>
												</tr>
											}
										</tbody>

									</table>



									<div class="modal-footer">
										<input type="hidden" value="0" id="rembolsoTotal" />
										<input type="hidden" value="0" id="rembolsoActual" />


										<a href="~/CO_tb_ConfigReembolsos/" class="btn btn-danger btn-lg">Regresar</a>
										@*<input type="submit" value="envia" onclick="return validar()" class="btn btn-danger btn-lg" />*@
										<input type="submit" value="Borrar" class="btn btn-danger btn-lg" />

									</div>
								}
							</div>
						</div>
					</div>


				</div>
			</div>
	</main>
</body>




@section scripts{

	<script type="text/javascript">
        $(document).ready(function () {
            
		    mostrarLoader();
		    //$("#IdPeriodos").attr('readonly', true);
		    //$("#IdPais").change(function()
		    //{
		    //    // Clear drop down list
		    //    $("#IdPeriodos").find("option").remove();

		    //    var params =
            //            {
            //                IdPais: $("#IdPais").val(),
            //            };
		    //    $.ajax(
            //        {
            //            url: "/CO_tb_Premios/PeriodosSelectList",
            //            method: "post",
            //            data: params,
            //            success: function(data) {
            //                console.log(data)
            //                // agregamos opcion de inicio
            //                $('<option>').val(0).text("Periodo a capturar?").appendTo("#IdPeriodos");

            //                $.each(data, function(index, value) {
            //                    console.log(index + value)
            //                    $('<option>').val(value.Value).text(value.Text).appendTo("#IdPeriodos");
            //                })

            //                $("#IdPeriodos").attr('readonly', false);
            //            },
            //        });
		    //})


		    $(".CantProd").val(0);
			$(".text-box").val(0);


				var Nombre = 0;//global variable
				var Ventas = 0;//global variable
				var TotalReembolso = 0;//global variable

				var Reembolsado = "";
				var NumSocio = "";
				var Diferencia = 0;
				var Anio = 0;
				var Mes = 0;
				var Quincena = 0;


			ocultarLoader();


			//$("#MuestraProd").click(function ()
			//{
			//    $('#myform').on('submit', function(ev) {
			//        //$('#myModal').modal
            //        // ({
			//        //    show: 'false'
		    //	    //});

	    	//	    window.opener.document.getElementById('myModal').innerHTML = "";
    		//	    var data = $(this).serializeObject();
			//        json_data = JSON.stringify(data);
			//        $("#results").text(json_data);
		    //	    $(".modal-body").text(json_data);

	    	//	    ev.preventDefault();
    		//	});

			//    var NombPremio = $("#NomPremio").val();
			//    var PaisPremio = $("#IdPais").val();
			//    var PeriodoPremio = $("#IdPeriodo").val();
			//    var EstatusPremio = $("#IdEstatus").val();

			//	//TotalReembolso = Reembolsado;
			//	//Diferencias = TotalReembolso;

			//	var Productos = " <td>" + NombPremio.toString() + "</td><td>" + PaisPremio + "</td><td>" + PeriodoPremio + "</td><td>" + EstatusPremio + "</td>";
			//	$(".tablaProd td").remove();
			//	$(".tablaProd").append(Productos);
			//	$('#myModal').modal('show');
			//})








			$("#MuestraProd").click(function () {
			    
			    
			    //$(document).ready(function () {
			    //    var table = $('#TblProductos').DataTable({
			    //        language: {
			    //            "decimal": "",
			    //            "emptyTable": "No hay información",
			    //            "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
			    //            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
			    //            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
			    //            "infoPostFix": "",
			    //            "thousands": ",",
			    //            "lengthMenu": "Mostrar _MENU_ registros",
			    //            "loadingRecords": "Cargando...",
			    //            "processing": "Procesando...",
			    //            "search": "Buscar:",
			    //            "zeroRecords": "Ningún dato disponible en esta tabla",
			    //            "paginate": {
			    //                "first": "Primero",
			    //                "last": "Ultimo",
			    //                "next": "Siguiente",
			    //                "previous": "Anterior"
			    //            }
			    //        }
			    //    }
			    //          );


			    //});


			


			    //Session("PaisPremio") = $("#IdPais").val();
			    //var PeriodoPremio = $("#IdPeriodo").val();
			    //var Cant = $("#Cantidad").val();
			    //var Topada = $("#CantTopada").val();
			    //var Porcentaje = $("#Porcentaje").val();



			    //$(".TmpPeriodo").val(PeriodoPremio);
			    //$(".TmpPais").val(PaisPremio);
			    //$(".TmpCantidad").val(Cant);
			    //$(".TmpTopada").val(Topada);
			    //$(".TmpPorcentaje").val(Porcentaje);

			    ////var ProdASeleccionar = " <td>" + NombPremio.toString() + "</td><td>" + PaisPremio.toString() + "</td><td>" + FechaPedido.toString() + "</td><td>" + Periodo.toString() + "</td><td>" + PeriodoPremio.toString() + "</td><td id='reembolso'>" + EstatusPremio.toString() + "</td><td id='restante'>" + EstatusPremio + "</td>";
			    //var ProdASeleccionar = " <td>" + PaisPremio.toString() + "</td><td>" + PeriodoPremio.toString() + "</td><td>" + Cant.toString() + "</td><td>" + Topada.toString() + "</td><td>" + Porcentaje.toString() + "</td>";
			    //$(".tablaPremios td").remove();
			    //$(".tablaPremios").append(ProdASeleccionar);
			    //$('#myModal').modal('show');

			    addRowHandlers();
			})


		});



	function addRowHandlers()
			{
			    //var table = document.getElementById("tblReembolsos");
				//var rows = table.getElementsByTagName("tr");

				//for (i = 1; i < rows.length; i++)
				//{
				//	var row = table.rows[i];
				//	row.onclick = function (myrow)
				//	{
				//	    $(".valid").text("0");
				//		return function ()
				//		{
							$('#myform').on('submit', function(ev) {
								 $('#my-modal').modal({
							        show: 'false'
								    });

									window.opener.document.getElementById('myModal').innerHTML = "";

								    var data = $(this).serializeObject();
								    json_data = JSON.stringify(data);
									$("#results").text(json_data);
									$(".modal-body").text(json_data);

										ev.preventDefault();
								});


							var hoy = new Date();
							var dd = hoy.getDate();
							var mm = hoy.getMonth()+1;
							var yyyy = hoy.getFullYear();

							if (dd < 10)
							{
								  dd='0'+dd;
							}

							if (mm < 10)
							{
								mm='0'+mm;
							}
							//  var fecha = new Date();

						   //FechaPedido = dd + "/" + mm + "/" + yyyy;
						   // //ReembolsoSocio = Reembolso.toString();
						   // Reembolsado = "";
						   // NumSocio = "";

						   // 	var SocioID = IdPartner.toString();//global variable
						   // 	var numeros = "0123456789.";
						   // 		for (i = 0; i < Socio.length; i++)
						   // 		{
						   // 		   if (numeros.indexOf(SocioID.charAt(i), 0) != -1)
						   // 		   {
						   // 				NumSocio = NumSocio + SocioID.charAt(i);
						   // 			}
						   // 		}
						   // 		Socio = NumSocio;


						   // 		for (i = 0; i < ReembolsoSocio.length; i++)
						   // 		{
						   // 		   if (numeros.indexOf(ReembolsoSocio.charAt(i), 0) != -1)
						   // 		   {
						   // 				Reembolsado = Reembolsado + ReembolsoSocio.charAt(i);
						   // 			}
						   // 		}
                            

							var Anio = $("#TmpAnio").val();
							var Mes = $("#TmpMes").val();
							var PaisPremio = $("#IdPais").val();
							var PeriodoPremio = $("#IdPeriodo").val();
							var Cant = $("#Cantidad").val();
							var Topada = $("#CantTopada").val();
							var Porcentaje = $("#Porcentaje").val();



						   // $(".TmpSocio").val(Socio.toString());
						   // $(".TmpPeriodo").val(Periodo.toString());

						   // TotalReembolso = Reembolsado;
						   // Diferencias = TotalReembolso;

							$(".TmpAnio").val(Anio);
							$(".TmpMes").val(Mes);
							$(".TmpPais").val(PaisPremio);
							$(".TmpCantidad").val(Cant);
							$(".TmpTopada").val(Topada);
							$(".TmpPorcentaje").val(Porcentaje);

						    //var ProdASeleccionar = " <td>" + NombPremio.toString() + "</td><td>" + PaisPremio.toString() + "</td><td>" + FechaPedido.toString() + "</td><td>" + Periodo.toString() + "</td><td>" + PeriodoPremio.toString() + "</td><td id='reembolso'>" + EstatusPremio.toString() + "</td><td id='restante'>" + EstatusPremio + "</td>";
							var ProdASeleccionar = " <td>" + PaisPremio.toString() + "</td><td>" + Anio.toString() + "</td><td>" + Mes.toString() + "</td><td>" + Cant.toString() + "</td><td>" + Topada.toString() + "</td><td>" + Porcentaje.toString() + "</td>";
							$(".tablaPremios td").remove();
							$(".tablaPremios").append(ProdASeleccionar);
							//$('#myModal').modal('show');

						};
				//	}(row);
				//}
		//};


	function validar() 
	{
			    //if ($("#restante").text() < 0) {
                //      Swal.fire({
			    //        title: 'No puede guardar el pedido si exede la cantidad del reembolso otorgado',
			    //        text: "Presione el boton para cerrar!",
			    //        type: "error",
			    //        animation: false,
			    //        customClass: {
			    //            popup: 'animated tada'
			    //        }
			    //    })

					//alert("Reembolso exedido")
					return false
			    }


				//var VarReembolso = parseFloat($("#reembolso").text());
				//var VarRestante = parseFloat($("#restante").text());
				//var RendondeaReembolso =  Math.round(VarReembolso, -2);

				//if (RendondeaReembolso == VarRestante)
				//	{
                //      Swal.fire({
			    //        title: 'No puede guardar el pedido en ceros, seleccione algun producto',
			    //        text: "Presione el boton para cerrar!",
			    //        type: "error",
			    //        animation: false,
			    //        customClass: {
			    //            popup: 'animated tada'
			    //        }
			    //    })

				//	//alert("Reembolso exedido")
				//	return false
				//}


				//if (VarRestante > RendondeaReembolso)
				//	{
                //      Swal.fire({
			    //        title: 'No puede guardar el pedido en ceros, seleccione algun producto',
			    //        text: "Presione el boton para cerrar!",
			    //        type: "error",
			    //        animation: false,
			    //        customClass: {
			    //            popup: 'animated tada'
			    //        }
			    //    })

				//	//alert("Reembolso exedido")
				//	return false
				//}


			//	return true;
			//}



			function test(item)
			{
    			//var myrow2 =item;
			    //var id = myrow2.id.toString();
				//id = id.substring(4, id.length);

			    //var Producto = myrow2.getElementsByTagName("td")[0];
			    //var IdProducto = Producto.innerHTML;
			    //var Can = myrow2.getElementsByTagName("td")[3];
			    //var Canti = Can.getElementsByTagName('input')[0].value;
			    //var PreciArt = $("#Precio"+id).val();

				//if (Canti != null && Canti != "") {
				//	var montoRow = myrow2.getElementsByTagName("td")[4];
				//	var monto = montoRow.innerHTML;
				//	var varMontoRow = 0;
				//	varMontoRow = (PreciArt * Canti);
				//	var sumaRembolsos = $("#rembolsoActual").val();

				//	if (isNaN(sumaRembolsos))
				//	{
				//		sumaRembolsos = 0;
				//	}

				//	if (monto >= varMontoRow)
				//	{
				//		var restar = parseFloat(monto) - parseFloat(varMontoRow);
				//		sumaRembolsos = parseFloat(sumaRembolsos) - parseFloat(restar);
				//		$("#rembolsoActual").val(sumaRembolsos);
				//	}
				//	else
				//	{
				//		sumaRembolsos = sumaRembolsos - monto;
				//		sumaRembolsos = parseFloat(sumaRembolsos) + parseFloat(varMontoRow);
				//		$("#rembolsoActual").val(sumaRembolsos);
				//	}

				//	montoRow.innerHTML = Math.floor(varMontoRow * 100) / 100
				//	$(".SubMonto").val(Math.round(varMontoRow, -1));



				//	var SumaMontos3 = 0;
				//	var table3 = document.getElementById("TblProductos");
				//	var rows3 = table3.getElementsByTagName("tr");

				//	if (isNaN(sumaRembolsos))
				//	{
				//		sumaRembolsos = 0;

				//	}

				//	var rembolsoTotal  = $("#rembolsoTotal").val();
				//	var VarReembolso = TotalReembolso;
				//	var VarRestante = $("#restante").val();

				//	Diferencia =rembolsoTotal - sumaRembolsos
				//	$("#restante").text(Math.round(Diferencia,-1));

				//	    if (Diferencia == rembolsoTotal)
				//	    {
				//	        Swal.fire({
				//	            title: 'No puedes dejar el pedido en ceros',
				//	            text: "Presione el boton para cerrar!",
				//	            type: "error",
				//	            animation: false,
				//	            customClass: {
				//	                popup: 'animated tada'
				//	            }
				//	        })
				//	    }

				//		if (Diferencia < 0)
				//	    {
				//	        Swal.fire({
				//	            title: 'Ha exedido la cantidad a rembolsar! Favor de disminuir las cantidades',
				//	            text: "Presione el boton para cerrar!",
				//	            type: "error",
				//	            animation: false,
				//	            customClass: {
				//	                popup: 'animated tada'
				//	            }
				//	        })
				//	   }


			    //}
		};



	//function addRowProductos()
	//{
	//    var table2 = document.getElementById("TblProductos");
	//	var rows2 = table2.getElementsByTagName("tr");
	//	for (i = 1; i < rows2.length; i++)
	//	{
	//		var row2 = table2.rows[i];
	//	row2.onclick = function (myrow2)
	//		{
	//			return function ()
	//			{
	//				var Producto = myrow2.getElementsByTagName("td")[0];
	//				var IdProducto = Producto.innerHTML;

	//				var IdPedido = myrow2.getElementsByTagName("td")[10];
	//				var Pedido = IdPedido.innerHTML;

	//				//alert("NumeroPedido:" + Pedido);


	//				var valid = false;

	//				valid = $(".validatecheckbox:checked").length > 0;

	//			if (!valid)
	//			{
	//				//alert("se fue por falso");
	//				var Cant = myrow2.getElementsByTagName("td")[3];
	//				$("#Cant.innerHTML").val(0);
	//				$("#validatecheckbox").attr("disabled", true);
	//				return false;
	//			}
	//			else
	//			{
	//				//alert("se fue por verdadero");
	//				var Cant = myrow2.getElementsByTagName("td")[3];
	//				var Cantidad = Cant.innerHTML;

	//				$("validatecheckbox").attr("disabled", false);
	//				return true;
	//			}
	//		};
	//			}(row2);
	//		}
	//		};

	//		 $(function()
	//		{
	//			 $("#EnvioInfo").click(function ()
	//			 {
	//				 	var adicional =
	//					  {
	//					      modelo: $('#TblProductos input').serialize(),
	//							SocioId: $("#SocioId").val(),
	//							VentasId: $("#VentasId").val(),
	//							ReembolsoId: $("#ReembolsoId").val(),
	//						};

	//						$.ajax({
	//							url: "/ReembolsosCanje/Index",
	//							type: 'POST',
	//						    data: adicional,
	//						});
	//			 });
	//		 });


		function cierre()
				{
						$("#myModal").modal('hide');//ocultamos el modal
						$('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
						$('.modal-backdrop').remove();//eliminamos el backdrop del modal

						Swal.fire
									    ({
												title: 'Aun no ha grabado el pedido esta seguro que quiere ',
												 text: "Presione el boton para cerrar!",
												 type: "success",
											animation: false,
										  customClass:
												{
					                                popup: 'animated tada'
												}
									}).then(function (result)
									{
									    window.location.hostname;
									})

			    }


		function cerrar()
		{

				$(".CantProd").text("0");
				$(".text-box").text("0");
		}


		function validar() {
		    //if ($("#restante").text() < 0) {
		    //    Swal.fire({
		    //        title: 'No puede guardar el pedido si exede la cantidad del reembolso otorgado',
		    //        text: "Presione el boton para cerrar!",
		    //        type: "error",
		    //        animation: false,
		    //        customClass: {
		    //            popup: 'animated tada'
		    //        }
		    //    })

		        //alert("Reembolso exedido")
		        return false
		    }
	</script>



}

<style>
	.theader th {
		width: 16% !important;
	}

	.theader td {
		width: 16% !important;
	}
</style>



