@model Comisiones.Models.ModelsEvolution.CO_tb_cdaPolitica


@{
	ViewBag.Title = "Alta de Politica";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")"
		type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")"
		type="text/javascript"></script>

<div class="col-md-12 jumbotron" style="color:#000000; font:caption; background-color:azure;">
	<h2>Agregar nuevo</h2>


	@using (Html.BeginForm("Create", "CO_tb_cdaPolitica", "POST"))
	{
		<form id="myform" class="form-inline">
			@*@Html.AntiForgeryToken()*@
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })

			<div class="form-horizontal">
				<h4>Crear una nueva Politica de CDA</h4>
				<hr />
				<div class="form-group">
					@Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-5" })
					<div class="col-md-7">
						@Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
					</div>
				</div>
				<br />
				<div class="form-group">
					@Html.LabelFor(model => model.Descripcion_corta, htmlAttributes: new { @class = "control-label col-md-5" })
					<div class="col-md-7">
						@Html.EditorFor(model => model.Descripcion_corta, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Descripcion_corta, "", new { @class = "text-danger" })
					</div>
				</div>
				<br />
				<div class="form-group">
					@Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-5" })
					<div class="col-md-7">
						@Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
					</div>
				</div>
				<br />
				<div class="form-group">
					@Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-5" })
					<div class="col-md-7">
						@Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
					</div>
				</div>
				<br />
				<div class="form-group">
					@Html.LabelFor(model => model.Cantidad_Topada, htmlAttributes: new { @class = "control-label col-md-5" })
					<div class="col-md-7">
						@Html.EditorFor(model => model.Cantidad_Topada, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Cantidad_Topada, "", new { @class = "text-danger" })
					</div>
				</div>
				<br />
				<div class="form-group">
					@Html.LabelFor(model => model.id_percepcion, htmlAttributes: new { @class = "control-label col-md-5" })
					<div class="col-md-7">
						@Html.DropDownList("id_percepcion", (IEnumerable<SelectListItem>)ViewBag.dropdownPercepcion, "Selecciona un Percepcion?", new { @id = "IdPercepcion", @class = "form-control" })
						@Html.ValidationMessageFor(model => model.id_percepcion, "", new { @class = "text-danger" })
					</div>
				</div>
				<br />
				<div class="form-group">
					@Html.LabelFor(model => model.id_estatus, htmlAttributes: new { @class = "control-label col-md-5" })
					<div class="col-md-7">
						@Html.DropDownList("id_estatus", (IEnumerable<SelectListItem>)ViewBag.dropdownEstatus, "Estatus actual?", new { @id = "IdEstatus", @class = "form-control" })
						@Html.ValidationMessageFor(model => model.id_estatus, "", new { @class = "text-danger" })
					</div>
				</div>
				<br />
				<div class="form-group">
					@Html.LabelFor(model => model.f_Vigencia, htmlAttributes: new { @class = "control-label col-md-5" })
					<div class="col-md-7">
						@Html.EditorFor(model => model.f_Vigencia, new { htmlAttributes = new { @class = "form-control startDate" } })
						@Html.ValidationMessageFor(model => model.f_Vigencia, "", new { @class = "text-danger" })

						<i class="fa fa-calender"></i> &nbsp;
						<span id="date"></span>
						&nbsp; <i class="fa fa-caret-down"></i>
					</div>
				</div>
					<br />
				<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Grabar" class="btn btn-default" style="height:25Px; text-align:inherit" />
				@Html.ActionLink("Regresar", "Index", "CO_tb_cdaPolitica", null, new { @class = "btn btn-default btn-lg", @style = "display:inline" })
			</div>
		</div>

	</div>
</form>
			}
		



	</div>



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
